body {
	margin: 10px 10px 10px 10px;
	min-width: 800px;
	min-height: 600px;
}

.window{
    border: 1px solid black;
    float: left;
    width: 600px;
    margin: 10px 10px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.tab{
    border: 1px solid red;
    float: left;
	width: 90px;
	height: 90px;
	overflow: hidden;
    padding: 0px 10px 0px 10px;
    margin: 10px 0px 0px 10px;
}

.tab_icon{
	margin: 5px 0px 0px 0px;
	float: left;
	width: 16px;
	height: 16px;
}