<!DOCTYPE html>
<html>
	<head>
		<title>Panorama for Chrome</title>

		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/smoothness/jquery-ui-1.10.3.min.css" />
		<link rel="stylesheet" href="css/style.css">

		<script src="js/libs/underscore-min.js"></script>
		<script src="js/libs/jquery-2.0.0.min.js"></script>
		<script src="js/libs/jquery-ui-1.10.3.min.js"></script>
		<script src="js/libs/bootstrap.min.js"></script>
		<script src="js/libs/backbone-min.js"></script>
		<script src="js/libs/backbone.marionette.min.js"></script>
		<script src="js/libs/backbone.chromestorage.min.js"></script>
		<script src="js/panorama-views.js"></script>
		<script src="js/panorama-models.js"></script>
		
		<script id="window-template" type="text/template">
			<div class="window">
				<span class="badge">i</span>
				<div id="popup-data" style="display: none;">
					<div style='text-align: left;'>
					<%
						_.each(window, function(v, k){
							print(k + ": " + v + "<br>");
						});
					%>
					</div>
				</div>
				<button class="close">&times;</button>
				<div id="tabs"></div>
			</div>
		</script>

		<script id="tab-template" type="text/template">
			<div class="tab">
				<% if(typeof(favIconUrl) !== 'undefined'){ %>
					<img src="<%= favIconUrl %>" class="tab_icon" />
				<% } %>
				<div style="clear: both;">
					<%= title %>
				</div>
			</div>
		</script>

		<script src="js/panorama-frontend.js"></script>

	</head>
	<body>
			
		<div id="tree" >
		</div>

	</body>
</html>

