<!doctype html>
<html>
	<head>
		<title>Panorama for Chrome</title>
		<style>
			body {
				margin: 10px 10px 10px 10px;
				min-width: 800px;
				min-height: 600px;
			}
			#panorama-view {
				padding: 10px 10px 10px 10px;
				overflow: hidden;
			}
			.window {
				padding: 10px 10px 10px 10px;
				border: 1px solid black;
				background-color: gray;
				float: left;
				clear: left;
			}

			.tab {
				border: 1px solid blue;
				float: left;
				clear: left;
			}
		</style>

		<link rel="stylesheet" href="css/smoothness/jquery-ui-1.10.3.min.css" />

		<!--<script src="backbone-min.js"></script>-->
		<script src="js/underscore-min.js"></script>
		<script src="js/jquery-2.0.0.min.js"></script>
		<script src="js/jquery-ui-1.10.3.min.js"></script>
		<script src="js/panorama.js"></script>
	</head>
	<body>

		<div id="w_tpl" style="display: none;">
			<div class='window'>
				<% _.each(tabs, function(tab){ %>
					<div class='tab'>
						<%= tab.title %>
					</div><br>
				<% }); %>
			</div>
		</div>

		<div id="panorama-view" style="border: 1px solid black;">
		</div>
	</body>
</html>

